<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advanced ISD Project</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" href="/static/images/favicon_TriMy.ico" type="image/x-icon">
</head>

<body>
    <div class="center-container">
        <h1>Welcome to the memory game of TriMy!</h1>
        <p>Select the number of pairs and start playing.</p>

        <form method="POST" action="{{ url_for('start_game') }}">
            <label for="pair_count">Choose number of pairs:</label>
            <select name="pair_count" required>
                {% for count in allowed_pair_counts %}
                    <option value="{{ count }}">{{ count }} pairs</option>
                {% endfor %}
            </select>
            <br><br>
            <button type="submit" class="action-button">Start Game</button>
        </form>

        <br>
        <div class="controls">
            <p>View Leaderboard by Mode:</p>
            {% for count in allowed_pair_counts %}
            <a href="{{ url_for('leaderboard_by_mode', pair_count=count) }}">
                <button>{{ count }} Pairs</button>
            </a>
            {% endfor %}
        </div>
    </div>
</body>
</html>