<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advanced ISD Project</title>
        <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <button id="dark-mode">Activate Dark Mode</button>
    <h1>Welcome to the webpage of TriMy!</h1>
    <p>This is a simple website hosted on PythonAnywhere</p>

    <!-- create link to statistics page -->
    <a href="/static/statistics.html">View Statistics</a>


    <!-- Restart button to start the game from scratch -->
    <div class="actions">
        <button onclick="restart()">Restart</button>
    </div>

    <!-- create the canvas in which the game will then run, execution will be handled in JS -->
    <canvas id="GameArea" width="2000" height="1000" style="border:1px solid #000000;">
    </canvas>
    <script src="/static/js/script.js"> </script>
</body>
</html>
