<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advanced ISD Project</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" href="/static/images/favicon_TriMy.ico" type="image/x-icon">
</head>

<body>
    <div class="center-container">
        <h2>Please enter your gmail.com credentials</h2>
        <h2>Your email is your username</h2>
        {% if verified %}
            <p style="color: green;">Your email has been verified successfully! Please log in.</p>
        {% endif %}
        <form method="post">
            <input type="text" name="username" placeholder="Username" required><br>
            <input type="password" name="password" placeholder="Password" required><br>
            <div class="controls" id="login-button-container">
                <button type="submit">Login</button>
            </div>
        </form>
        <p>Don't have an account? <a href="/signup">Sign up here</a></p>
    </div>
</body>