<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advanced ISD Project</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" href="/static/images/favicon_TriMy.ico" type="image/x-icon">
</head>

<body>
    <div class="auth-form-container">
        <h2>Login</h2>

        {% if verified %}
            <div class="auth-message">
                Your email has been verified successfully! Please log in.
            </div>
        {% endif %}

        <form method="post" class="auth-form">
            <input type="email" name="username" placeholder="Gmail address" required> <!-- type email instead of text to check if @ is entered -->
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
        <div class="controls">
            <p>Don't have an account?</p>
            <a href="/signup">
                <button type="submit">Sign up here</button>
            </a>
        </div>
    </div>
</body>
</html>