<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advanced ISD Project</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" href="/static/images/favicon_TriMy.ico" type="image/x-icon">
</head>

<body>
    <div class="auth-form-container">
        <h2>Sign Up</h2>
        <p>Your email is your username</p>

        <form method="post" class="auth-form">
            <input type="email" name="username" placeholder="Gmail address"
                   value="{{ original_username if original_username else '' }}" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Sign Up</button>
        </form>

        <div class="controls">
            <p>Already have an account?</p>
            <a href="/login">
                <button type="submit">Log in here</button>
            </a>
        </div>
    </div>
</body>
</html>