<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advanced ISD Project</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" href="/static/images/favicon_TriMy.ico" type="image/x-icon">
</head>

<body>
    <div class="auth-form-container">
        <h2>Verify Your Email</h2>

        {% if error %}
            <p style="color:red;">{{ error }}</p>
        {% endif %}

        <p>We've sent a verification code to <strong>{{ email }}</strong>. Please enter it below:</p>

        <form method="post" class= "auth-form" action="{{ url_for('verify') }}">
            <input type="hidden" name="email" value="{{ email }}">
            <input type="text" name="code" placeholder="6-digit code" required>
            <button type="submit">Verify</button>
        </form>

        <div class="controls">
                <p>Not your email?</p>
                <a href="/signup">
                    <button type="submit">Go back to sign up</button>
                </a>
        </div>
    </div>
</body>
</html>